stages:
  - test
  - build

test:
  stage: test
  image: golang:1.17
  script: 
   - go test .
  tags:
    - shared
  rules:
    - changes:
        - "**/*.go"
build:
  stage: build
  image: docker:latest
  script:
   - docker build .
  tags:
    - shared
  needs: []
